
<html>

<center><h2> Members listed: </h2>
  <center><table class="alt">
    <tr>
      <th> First: </th>
      <th> Last: </th>
      <th> Membership: </th>
    </tr>
    <tr>
      <td>  <%= @member.first_name %></td>
      <td>  <%= @member.last_name %></td>
      <td>  <%= @member.membership %></td>
    </tr>
  </table>

  <br>   <br>
  <table class="alt">
    <tr>
      <th> Activity: </th>
      <th> Duration: </th>
      <th> Time: </th>
    </tr>

    <% @member.activities.each do |mem| %>
    <tr>
      <td><%= mem.session %> </td>
      <td><%= mem.duration %> </td>
      <td><%= mem.time_of_day %></td>

      <td>  <center> <form method="get" action="/members/<%= @member.id %>/edit">
        <input type='submit' value="Update Members Details"/>
      </form>  </center> </td>

      <td><center><form method="post" action="/members/<%= @member.id %>/delete">
        <input type="submit" value="Delete"/>
      </form> </center></td>
    </tr>
    <% end %>
  </table>
</center>
